@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

		body {
			font-family: "Fredoka", sans-serif;
			margin: 0;
		}
		
		html {
			box-sizing: border-box;
		}
		
		*, *:before, *:after {
			box-sizing: inherit;
		}
		
		.column {
				float: left;
				width: 33.3%;
				margin-bottom: 16px;
				padding: 0 8px;
			}	

		.card {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				margin: 8px;
		}

		.about-section {
					padding: 50px;
					text-align: center;
					background-color: #7a4013;
					color: white;
			}
		
		.container {
				padding: 0 16px;
		}

		.container::after, .row::after {
			content: "";
			color:white;
			clear: both;
			display: table;
		}

		.title {
				color: #de5405;
		}

		.button {
				border: none;
				outline: 0;
				display: inline-block;
				padding: 8px;
				color: white;
				background-color: #f65d06;
				text-align: center;
				cursor: pointer;
				width: 100%;
			}

		.button:hover {
				background-color: #d65105;
			}


		@media screen and (max-width: 650px) {
			.column {
					width: 100%;
					display: block;
			}
		}
