@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background: linear-gradient(to right, red, orange, yellow);
 
  overflow-x: hidden;
}

.container {
  background: #fff;
  width: 540px;
  height: 750px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
 box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.leftbox{
 float: left;
 top: -5%;
 left: 5%;
 position: absolute;
 width: 15%;
 height: 110%;
 background: orange;
 box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
 border: .1em solid #fff;
}

nav a {
 list-style: none;
 padding: 35px;
 color: #fff;
 fotn-size: 1.1em;
 display: block;
 transition: all .3s ease-in-out;
}

nav a:hover{
 color: deeporange;
 cursor: pointer;
 transform: scale(1.2);
}

nav a:first-child {
  margin-top: 7px;
}

.rightbox{
 width: 60%;
 margin-left: 27%;
}

h1 {
 font-family: "Fredoka", sans-serif;
 color: darkorange;
 font-size: 1.5em;
 margin-top: 40px;
 margin-bottom: 35px;
}

h2{
 color: #202020
 font-family: "Fredoka", sans-serif;
 text-transform: uppercase;
 font-size: 8px;
 letter-spacing: 1px;
 margin-left: 2px;
 margin-top: 10px;
}

.input, p{
  border: 0;
  border-bottom: 1px solid #820000;
  width: 80%;
  font-family: "Fredoka", sans-serif;
  font-size: .7em;
  padding: 7px 0;
  color: black;
  outline: none;
}

span {
  font-size: .7em;
  color: #777;
}

.btn {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: #fff;
  background: #c64b05;
  padding: 7px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
  cursor: pointer
  margin-top: 15px;
}
