@import url("https://fonts.google.com/");

body{
  background: linear-gradient(to right, yellow, orange, red);
  overflow: hidden;
  box-sizing: border-box;
}

.container{
  background: #fff;
  width: 540px;
  height: 420px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo{
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #purple;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.CTA{
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: darkgreen;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: .all 0.5s ease-in-out;
  cursor: pointer;
}

.CTA h1{
  color: white;
  margin-top: 10px;
  margin-left: 9px;
}

.CTA:hover{
  background: lightgreen;
  transform: scale(1.1);
}

.leftbox{
  float: left;
  top: -5%
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: orange;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

nav a{
  list-style: none;
  padding: 35px;
  color: darkgray;
  font-size: 1.5em;
  display: block;
  transition: all .3s ease-in-out;
}

nav a: hover{
  color: darkorange;
  transform: scale(1.5)(;
  cursor: pointer;
}

nav a: first-child {
  margin-top: 7px;
}

.active{
  color: darkorange;
}

.rightbox {
  float: right;
  width: 60%;
  height: 100%;
}

.profile {
  position: absolute;
  width: 75%;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  color: darkorange;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, orange, rbga(126, 211, 134, 0.5)) 10%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  padding: 7px;
  color: black;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-tranform: uppercase;
  font-size: 15px;
  border: none;
  color: darkorange;
}

.btn: hover {
  text-decoration: underline;
  font-weight: 900;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.10em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

footer p {
  border: none;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover{
  color: darkgray;
}
