@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('AlertAcademy\ Background\ 2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.title {
    font-size: 2em;
    color: beige;
    user-select: none;
}

.addLinks a {
    position: relative;
    font-size: 1.1em;
    color:beige;
    text-decoration: none;
    font-weight: 450;
    margin-left: 40px;
}

.addLinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: beige;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.addLinks a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.addLinks .btnForLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid beige;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:  1.1em;
    color: beige;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.addLinks .btnForLogin:hover {
    background: beige;
    color: orange;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid beige;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);

}

.wrapper.active {
    height: 640px;
}


.wrapper .box {
    width: 100%;
    padding: 40px;
    
}

.wrapper .box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .box.register {
    width: 350px;
    padding: 55px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-weight: bold;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remem-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
    
}

.remem-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remem-forgot a {
    color: black;
    text-decoration: none;
}

.remem-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
